<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <div>Wanderlust Pvt Ltd</div>
            <div class="f-info-link">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>

        </div>
    </div>
</footer>